params {
  containers {
    python = 'didrikolofsson/python-base:latest'
    fastp = 'biocontainers/fastp:v0.20.1_cv1'
    samtools = 'quay.io/biocontainers/samtools:1.16.1--h6899075_1'
    star = 'mgibio/star:latest'
    bbduk = 'kincekara/bbduk:38.98'
    umi_tools = 'genomicpariscentre/umi-tools'
    multiqc = 'staphb/multiqc'
    fastqc = 'staphb/fastqc'
  }
}